$account-color: #4461f2;
$white: #FFFFFF;
$black: #000000;
$bg-input-color: #f1f5ff;
$txt-input-color: #6a7075;
$txt-color-gray: #a5a6a8;
$warning: rgb(251, 56, 78);
$light-yellow: #daa043;
$green: #0ba871;