.container_box {
	padding: 20px 10px;
	max-width: 1030px;
	margin: 0 auto;


	.main_content {
		display: grid;
		grid-template-columns: 50% 50%;
		font-family: var(--font-main);
		margin-top: 70px;

		img {
			width: 80%;
			margin: 0 auto;
			height: 95%;
			border-radius: 15px;
			box-shadow: 0 0 2px;
		}

		.right_content {
			display: flex;
			flex-direction: column;

			.text_content {
				p {
					margin: 20px 0px;
					padding: 0px 15px;
					line-height: 1.5;
				}
			}

			.more {
				width: fit-content;
				text-decoration: none;
				border-radius: 100px;
				border: 3px solid $account-color;
				padding: 10px 25px;
				margin-top: 10px;
				letter-spacing: 0.5px;
				font-weight: bold;

				&:hover {
					color: $white;
					background-color: $account-color;
				}
			}

		}

	}
}

@media only screen and (max-width: 950px) {
	.container_box {
		.main_content {
			img {
				width: 95%;
			}

			.right_content {
				.text_content {
					p {
						font-size: 15px;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 800px) {
	.container_box {
		.main_content {
			grid-template-columns: 100%;

			img {
				width: 60%;
			}

			.right_content {
				.more {
					margin: 0 auto;
				}
			}
		}
	}
}