@font-face {
	font-family: 'Nunito';
	src: url(../fonts/Nunito/Nunito-Light.ttf);
	font-weight: 300;
}

@font-face {
	font-family: 'Nunito';
	src: url(../fonts/Nunito/Nunito-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: 'Nunito';
	src: url(../fonts/Nunito/Nunito-Medium.ttf);
	font-weight: 500;
}

@font-face {
	font-family: 'Nunito';
	src: url(../fonts/Nunito/Nunito-SemiBold.ttf);
	font-weight: 600;
}

@font-face {
	font-family: 'Nunito';
	src: url(../fonts/Nunito/Nunito-Bold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: 'Nunito';
	src: url(../fonts/Nunito/Nunito-ExtraBold.ttf);
	font-weight: 800;
}

@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto/Roboto-Regular.ttf)
}

@font-face {
	font-family: "D-DIN";
	src: url(../fonts/D-DIN-Bold.ttf)
}

$font-main: 'Nunito', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-ddin: 'D-DIN', sans-serif;