body[class$="_page"] {
	background-color: $bg-input-color;
	font-family: $font-main;

	nav[class="^started_page"] {
		background-color: #fbfbfb;

	}

	nav {
		padding: 0px 25px;
		height: 65px;
		width: 100%;

		ul {
			margin-left: 20px;
			margin-bottom: 0rem;

			.search {
				display: flex;
				border: 2px solid $account-color;
				padding: 5px 9px;
				border-radius: 50px;
				justify-content: center;
				align-items: center;

				// transition: all 0.5s ease-in-out;


				input {
					transition: all 1s;
					caret-color: $account-color;
					width: 200px;
					transform: scale(0);
					display: none;
					padding: 0px 5px;
					background-color: transparent;
					// transition: all 1s ease-in-out;
				}

				i {
					cursor: pointer;
					color: $account-color;


				}
			}



			.function {
				display: flex;
				gap: 15px;
				position: relative;
				justify-content: center;
				align-items: center;

				&:hover {
					.dropdown_func {
						visibility: visible;
						top: 65px;
						opacity: 1;

					}
				}

				.avatar {
					padding: 20px 0;
				}

				.dropdown_func {
					display: flex;
					flex-direction: column;
					position: absolute;
					opacity: 0;
					visibility: hidden;
					z-index: 5;
					right: -5px;
					top: 55px;
					width: 180px;
					background-color: $white;
					border-radius: 10px;
					padding: 10px 0px;
					gap: 10px;
					box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
					transition: all 300ms ease-in-out;

					li {
						padding: 5px 10px 5px 20px;
						margin-right: auto;
						width: 100%;

						a {
							color: $txt-input-color;
							display: flex;
							justify-content: center;
							align-items: center;

							&:hover {
								i {
									margin-left: auto;
									transform: translateX(-5px);
									opacity: 1;
								}
							}

							i {
								opacity: 0;
								transform: translateX(-20px);
								margin-left: auto;
								transition: all .35s;
							}
						}

						&:hover {
							background-color: $bg-input-color;

							a {
								color: $black;
							}
						}
					}
				}
			}
		}

	}
}

a {
	color: $black;
}